
/* calc is so good it feels cheaty */

#gameMat img {
    width:6.944vw;
    height:10vw;
}

#gameMat > div {
    display:inline-block;
    width:49%;
    text-align:center;
}

#gameMat {
    height:calc(100vh - 20vw);
    width:80vw;
    position:fixed;
    top:10vw;
    left:10vw;
    line-height:calc(100vh - 20vw);
}

#playerHand {
    width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
}

#playerOneHand {
    height:30vh;
    position:fixed;
    margin-top:calc(50vh - 15vw);
}

#playerTwoHand {
    width:100%;
    position:fixed;
    text-align:center;
}

#playerThreeHand {
    height:30vh;
    position:fixed;
    margin-top:calc(50vh - 15vw);
    right:0px;
}

#comet {
    position:fixed;
    background-image:url("imgAsset/table.png");
    padding:8px;
    font-size:16pt;
    width:100%;
    color:gold;
    text-align:center;
    margin-top:12vh;
}

#endRound {
    position:absolute;
    bottom:8vh;
    right:4vw;
    width:16vw;
    height:8vh;
    background-color:rgb(131, 0, 0);
    line-height:8vh;
    text-align:center;

    border-radius:8px;
    /*its not a project by me unless there are dumb round borders */
    border-style:outset;
    border-color:gold;
    border-width:8px;

    font-size:2.718rem;
    color:rgb(255, 196, 0);
    cursor:pointer;
}

/* in order: caution on 1, rando on 2, and aggro in seat 3 */
.bIlight {
    box-shadow:0px 0px 8px 8px skyblue;
}

.pIlight {
    box-shadow:0px 0px 8px 8px purple;
}

.rIlight {
    box-shadow:0px 0px 8px 8px violet;
}
/* safety case */
.yIlight {
    box-shadow:0px 0px 8px 8px gold;
}

/* knock knock mf */
.setCard {
    box-shadow:0px 0px 8px 8px lime;
}

.wideCard {
    width:10vw;
    height:6.944vw;
}

/* .widerCard{
    width:12vw;
    height:8.3328vw;
} */

.tallCard {
    width:6.944vw;
    height:10vw;
}

/* .tallerCard {
    width:8.3328vw;
    height:12vw;
} */

/* this is FOR THE PLAYER'S USE */
img:hover {
    /* gotta flex that box shadow when i can */
    box-shadow:0px 0px 8px 8px gold;
}

img {
    margin:4px;
}

body {
    
    margin:0px;
    height:100vh;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url("imgAsset/background.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}