
/* calc is so good it feels cheaty */

#gameMat img {
    width:6.944vw;
    height:10vw;
}

#gameMat > div {
    display:inline-block;
    width:49%;
    text-align:center;
}

#gameMat {
    height:calc(100vh - 20vw);
    width:80vw;
    position:fixed;
    top:10vw;
    left:10vw;
    line-height:calc(100vh - 20vw);
}

#playerHand {
    width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
}

#playerOneHand {
    height:30vh;
    position:fixed;
    margin-top:calc(50vh - 15vw);
}

#playerTwoHand {
    width:100%;
    position:fixed;
    text-align:center;
}

#playerThreeHand {
    height:30vh;
    position:fixed;
    margin-top:calc(50vh - 15vw);
    right:0px;
}

.wideCard {
    width:10vw;
    height:6.944vw;
}

.widerCard{
    width:12vw;
    height:8.3328vw;
}

.tallCard {
    width:6.944vw;
    height:10vw;
}

.tallerCard {
    width:8.3328vw;
    height:12vw;
}


body {
    
    margin:0px;
    height:100vh;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url("imgAsset/background.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}